$switch-background: $grey-light !default
$switch-border: .1rem solid transparent !default
$switch-background-active: $primary !default
$switch-radius: $radius !default
$switch-paddle-background: $white !default
$switch-paddle-background-active: $primary !default
$switch-paddle-offset: 0.25rem !default
$switch-paddle-transition: all 0.25s ease-out !default

// Use a mixin to define all ratios in the same spot
=switch-size($size)
  $switch-height: $size * 1.5
  $switch-width: $switch-height * 2
  $paddle-height: $switch-height - ($switch-paddle-offset * 2)
  $paddle-width: $switch-height - ($switch-paddle-offset * 2)
  $paddle-active-offest: $switch-width - $paddle-width - ($switch-paddle-offset * 1.5)

  + label
    position: relative
    display: flex
    font-size: $size
    padding-left: $switch-width + .5
    // Resetting these <label> presets so type styles cascade down
    cursor: pointer

    &::before
      position: absolute
      display: block
      top: 0
      left: 0
      width: $switch-width
      height: $switch-height
      border: $switch-border
      border-radius: $switch-radius
      background: $switch-background
      content: ''


    &::after
      display: block
      position: absolute
      top: ( $switch-height / 2 ) - ( $paddle-height / 2 )
      left: $switch-paddle-offset
      width: $paddle-width
      height: $paddle-height
      transform: translate3d(0, 0, 0)
      border-radius: $switch-radius
      background: $switch-paddle-background
      transition: $switch-paddle-transition
      content: ''

  &:checked
    + label
      &::before
        background: $switch-background-active
      &::after
        left: $paddle-active-offest

  &.is-outlined
    + label
      &::before
        background-color: transparent
        border-color: $switch-background
      &::after
        background: $switch-background
    &:checked
      + label
        &::before
          background-color: transparent
          border-color: $switch-background-active
        &::after
          background: $switch-paddle-background-active

  &.is-rounded
    + label
      &::before
        border-radius: $radius-large * 4
      &::after
        border-radius: 50%


.switch[type="checkbox"]
  outline: 0
  user-select: none
  position: absolute
  margin-bottom: 0
  opacity: 0
  left: 0

  &[disabled]
    cursor: not-allowed
    + label
      opacity: 0.5
      &::before
        opactiy: 0.5
      &::after
        opactiy: 0.5
      &:hover
        cursor: not-allowed

  +switch-size($size-normal)
  &.is-small
    +switch-size($size-small)
  &.is-medium
    +switch-size($size-medium)
  &.is-large
    +switch-size($size-large)

  @each $name, $pair in $colors
    $color: nth($pair, 1)
    $color-invert: nth($pair, 2)
    &.is-#{$name}
      &:checked
        + label
          &::before
            background: $color
      &.is-outlined
        &:checked
          + label
            &::before
              background-color: transparent
              border-color: $color !important
            &::after
              background: $color
