.store-billboard {

  $primary: #008ACC;
  $font-family-billboard: 'Source Sans Pro', sans-serif;

  --store-color: $primary;
  --darker-color: darken($primary, 10%);

  $width: 40vw;
  $height: $width * (9/16);

  font-family: $font-family-billboard;
  width: $width;
  height: $height;
  background-color: var(--store-color);

  display: flex;
  flex-direction: row;

  overflow: hidden;
  position: relative;

  &, *, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }

  img {
    vertical-align: middle;
    max-width: none;
  }

  &.portrait{
    width: $height;
    height: $width;
    flex-direction: column;
  }

  &.swap {
    flex-direction: row-reverse;
  }

  font-size: $width / 40;

  &__bg {
    // height: 14em;
    position: absolute;
    bottom: -.6em;
    right: -3em;
    img {
      width: auto;
      height: auto;
      max-width: 20em;
      max-height: 14em;
    }
    //filter: grayscale(1) blur(.05em);
    opacity: .2;
  }

  &.swap &__bg {
    right: auto;
    left: -3em;
  }

  &__hero {

    padding: 3em;

    width: 44%;
    background-size: cover;
    background-position: center;

    display: flex;
    align-items: stretch;

    &__logo{
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
    }
  }

  &.portrait &__hero{
    width: auto;
    height: 44%;
  }

  &__menu {
    padding: 2em;
    flex:1;
    display: flex;
    flex-direction: column;
    align-items: stretch;

    line-height: 1.5;
  }

  &__items{
    flex:1;
    font-size: 1.2em;
    color: white;

  }

  &__item{
    margin-bottom: .3em;

    &__name, &__spacer, &__value {
      padding-top: 0;
      padding-bottom: 0;
    }

    &__name{
      font-weight: 600;
    }

    &__spacer {
      border-bottom: .1em solid rgba(255,255,255,.45);
      height: 1.1em;
      padding: 0;
    }

    &.header {
      font-size: 1.2em;
      font-weight: 600;
      text-align: center;
    }
  }

  &__items.largeHeaders .header {
    font-size: 1.75em;
    letter-spacing: .2em;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: .1em;
  }

  &__items.framed &__item:not(.header){
    background-color: white;
    color: var(--store-color);
    padding: .25em .6em;
  }

  &__park {

    margin-top: 1em;

    &-logo {
      position: relative;
      height: 3em;
      //outline: 1px dashed white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: .5em;

      img {
        max-height: 100%;
        max-width: 65%;
      }
    }

    &-name {
      color: white;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.2em;
      line-height: 1;
      position: relative;
      z-index: 0;
      width: 100%;
      &:before {
        content: attr(title);
        position: absolute;
        -webkit-text-stroke: .3em var(--darker-color);
        left: 0;
        right: 0;
        z-index: -1;
        text-align: center;
      }
    }

  }

}
