.ride-billboard {

  $primary: #008ACC;
  $font-family-billboard: 'Source Sans Pro', sans-serif;

  --main-color: $primary;
  --dark-color: darken($primary, 5%);
  --darker-color: darken($primary, 10%);

  --wait-color: #F44336;

  $height: 70vh;
  $width: $height * (9/16);

  $spacer: .3em;

  &, *, :after, :before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
  }

  img {
    vertical-align: middle;
    max-width: none;
  }

  font-family: $font-family-billboard;

  width: $width;
  height: $height;
  background-color: var(--main-color);
  padding: 2em;
  display: flex;
  flex-direction: column;
  font-size: $height / 40;
  position: relative;

  overflow: hidden;

  &__spacer {
    flex: 1;
  }

  &__bg {
    height: 14em;
    position: absolute;
    bottom: -1em;
    right: -3em;
    img {
      height: 100%;
    }
    //filter: grayscale(1) blur(.05em);
    opacity: .2;
  }

  &__ride {

    position: relative;

    &-logo {
      min-height: 6.5em;
      //outline: 1px dashed white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      img {
        max-width: 85%;
        max-height: 10em;
      }
    }

    &-name {
      color: white;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
      font-size: 2.3em;
      line-height: 1;
      position: relative;
      z-index: 0;
      width: 100%;
      &:before {
        content: attr(title);
        position: absolute;
        -webkit-text-stroke: .3em var(--darker-color);
        left: 0;
        right: 0;
        z-index: -1;
        text-align: center;
      }
    }


    &-logo img + &-name {
      margin-top: .5em;
    }

  }

  &__wait {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;

    color: white;

    margin-bottom: $spacer * 5;

    $hpad: .15em;
    $vpad: .21em;

    &__label {
      font-size: 1.6em;
      font-weight: 300;
      text-align: right;
      line-height: 1;
    }

    &__screen {
      position: relative;
      background-color: #222;
      padding: $vpad $hpad;
      font-size: 3.1em;
      // flex:1;
      line-height: 1;
      margin: 0 .3em;
      box-shadow: .01em .01em .05em black inset;
    }

    &__mins {
      font-size: 1.6em;
      font-weight: 300;
    }

    &__base {
      font-family: sa-digital-number;
      color: #333;
      z-index: 0;
    }

    &__number {
      font-family: sa-digital-number;
      position: absolute;
      right: $hpad;
      top: $vpad;
      color: var(--wait-color);
      text-shadow: 0.01em 0 .1em var(--wait-color);
      z-index: 1;
    }

  }

  &__priority {

    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--darker-color);

    padding: .3em;
    line-height: 1;

    color: white;

    &__accepts {
      text-align: right;
      font-weight: 300;
    }

    &__icon {
      margin: 0 .4em 0 1em;
      img {
        width: 4em;
        height: 4em;
      }
    }

    &__pass {
      font-size: 1.5em;
      text-transform: uppercase;
      font-weight: 600;
    }
  }

  &__enf {

    position: relative;

    display: flex;
    color: white;

    margin-top: $spacer;

    &__box {
      flex: 1;
      padding: .2em .3em .4em;
      background-color: var(--dark-color);
      text-align: center;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      line-height: 1;

      &__number {
        font-weight: 600;
        font-size: 1.8em;
      }
      &__name {
        font-size: .7em;
        font-weight: 300;
      }

      &:not(:last-child) {
        margin-right: $spacer;
      }
    }

  }

  &__park {

    &-logo {
      position: relative;
      height: 3.75em;
      //outline: 1px dashed white;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: $spacer * 3;

      img {
        max-height: 100%;
        max-width: 65%;
      }
    }

    &-name {
      color: white;
      font-weight: 600;
      text-align: center;
      text-transform: uppercase;
      font-size: 1.4em;
      line-height: 1;
      position: relative;
      z-index: 0;
      width: 100%;
      &:before {
        content: attr(title);
        position: absolute;
        -webkit-text-stroke: .3em var(--darker-color);
        left: 0;
        right: 0;
        z-index: -1;
        text-align: center;
      }
    }

  }

}