<template>
    <div class="section">
        <div class="container">
            <div class="content">
            <h1 class="title is-1">About</h1>
            <p>
                This set of tools was designed to create billboards for <a href="http://www.planetcoaster.com">Planet Coaster</a>.
                It has no affiliation with the game or its developer, Frontier.
            </p>
            <p>
                A big thanks to everyone on <a href="http://reddit.com/r/PlanetCoaster"><span
                    class="fab fa-reddit"></span> r/PlanetCoaster</a> for their suggestions and support.
            </p>
            <p>
                Icons provided by <a href="http://thenounproject.com">The Noun Project</a> and <a
                    href="http://fontawesome.io">Font Awesome</a>.
            </p>
            <p>
                Tool created by <a href="http://joaopluis.pt">João Luís</a>.
                If you want to support further development, you can
                <a href="http://paypal.me/joaopluis">donate via <span class="fab fa-paypal"></span> PayPal</a>.
            </p>

            <h3 class="subtitle is-3">Open-source</h3>

            <p>
                This project is now open-source! You can access it on
                <a href="https://gitlab.com/joaopluis/billboard-generator"><span class="fab fa-gitlab"></span>
                    joaopluis/billboard-generator</a>
                on GitLab.
            </p>

            <p>
                If you have some problems using the generator, you can report them on the project's
                <a href="https://gitlab.com/joaopluis/billboard-generator/issues">issue tracker</a>. You can also use it if you have some suggestions!
            </p>

            </div>

            <div class="columns">
                <div class="column is-half is-one-third-desktop">
                    <div class="card">
                        <div class="card-header">
                                <p class="card-header-title title is-4" style="margin-bottom: 0;">Ride billboard</p>
                                <div class="card-header-icon has-text-grey">v{{ rideBV }}</div>
                        </div>
                        <div class="card-content content">
                            <h5>Changelog</h5>
                            <dl>
                                <dt>v1.4.1</dt>
                                <dd>Fixed a bug where the text stroke would break line</dd>
                                <dd>Add dutch translation</dd>
                                <dt>v1.4.0</dt>
                                <dd>For the purposes of this changelog, first version</dd>
                            </dl>
                            <h5>Translators</h5>
                            <ul>
                                <li>Dutch - <a href="http://reddit.com/u/Jackson_Evans">u/Jackson_Evans</a></li>
                                <li>German - <a href="http://reddit.com/u/JayBlastOne">u/JayBlastOne</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="column is-half is-one-third-desktop">
                    <div class="card">
                        <div class="card-header">
                                <p class="card-header-title title is-4" style="margin-bottom: 0;">Store billboard</p>
                                <div class="card-header-icon has-text-grey">v{{ storeBV }}</div>
                        </div>
                        <div class="card-content content">
                            <h5>Changelog</h5>
                            <dl>
                                <dt>v0.1.5</dt>
                                <dd>Street Fox Coffee</dd>
                                <dt>v0.1.4</dt>
                                <dd>Add big headers and option to swap hero side</dd>
                                <dt>v0.1.3</dt>
                                <dd>Fix bug which caused billboards to render incorrectly</dd>
                                <dt>v0.1.2</dt>
                                <dd>Gulpee!</dd>
                                <dt>v0.1.1</dt>
                                <dd>Add block prices options</dd>
                                <dt>v0.1.0</dt>
                                <dd>First version</dd>
                            </dl>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import RideBillboard from './ride-billboard/RideBillboard.vue'
    import StoreBillboard from './store-billboard/StoreBillboard.vue'

    export default {
        computed: {
            rideBV () {
                return RideBillboard.version
            },
            storeBV () {
                return StoreBillboard.version
            }
        }
    }
</script>