<template>
    <div class="section">
        <div class="container index">
            <p class="has-text-centered" style="margin-bottom: 2rem;">
                <img src="../../images/logo-color.png" alt="Billboard Generator" class="index__logo">
            </p>

            <div class="columns is-mobile is-centered">
                <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
                    <router-link to="/ride-billboard" class="index__btn">
                        <img src="../../images/icon-ride-billboard.png" class="index__btn__icon">
                        <span class="index__btn__name">Ride billboard</span>
                        <small class="index__btn__version">v{{ rideBV }}</small>
                    </router-link>
                </div>
                <div class="column is-half-mobile is-one-third-tablet is-one-quarter-desktop">
                    <router-link to="/store-billboard" class="index__btn">
                        <img src="../../images/icon-store-billboard.png" class="index__btn__icon">
                        <span class="index__btn__name">Store billboard</span>
                        <small class="index__btn__version">v{{ storeBV }}</small>
                    </router-link>
                </div>
            </div>

            <div class="notification is-info">
                <div class="columns is-mobile is-vcentered">
                    <div class="column is-narrow"><span class="far fa-info-circle"></span></div>
                    <div class="column">
                        <p>
                            This generator went through major changes recently. <strong>There may be some bugs.</strong>
                            If you find any, please report them through <a href="https://gitlab.com/joaopluis/billboard-generator">GitLab</a>
                            or by email.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>

    import RideBillboard from './ride-billboard/RideBillboard.vue'
    import StoreBillboard from './store-billboard/StoreBillboard.vue'

    export default {
        computed: {
            rideBV () {
                return RideBillboard.version
            },
            storeBV () {
                return StoreBillboard.version
            }
        }
    }
</script>
