<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Billboard Generator</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700" rel="stylesheet">
    <link rel="shortcut icon" type="image/png" href="images/favicon.png"/>
    <meta property="og:image" content="images/banner.png"/>
</head>
<body>
<div id="app">

    <nav class="navbar is-transparent">
        <div class="navbar-brand">
            <router-link class="navbar-item" to="/">
                <img src="images/logo.png" alt="Billboard Generator" style="height: 28px;">
            </router-link>

            <router-link class="navbar-item" to="/about">
                About
            </router-link>
        </div>
    </nav>

    <div class="section" v-if="(!browser.webkit && !browser.blink)" style="padding-bottom: 0;">

        <div class="container">

            <div class="notification is-warning">
                <div class="columns is-mobile is-vcentered">
                    <div class="column is-narrow"><span class="far fa-2x fa-exclamation-triangle"></span></div>
                    <div class="column">
                        <h5>This generator may not work correctly on your browser!</h5>
                        <p>
                            Due to differences between browsers, this generator may not work correctly on your browser.
                            It will work on browsers using WebKit or Blink, such as <strong>Google Chrome</strong>.
                        </p>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <router-view></router-view>

    <div class="footer">
        <div class="container">
            <div class="columns">
                <div class="column is-narrow">
                    <img src="images/logo-color.png" alt="Billboard Generator" class="footer__logo">
                </div>
                <div class="column content has-text-right-tablet">
                    <p class="is-size-5" style="margin-bottom: .4rem;">
                        <strong>Billboard Generator</strong> by <a href="http://joaopluis.pt">João Luís</a></p>
                    <p>
                        This tool was designed to create billboards for <a href="http://www.planetcoaster.com">Planet
                        Coaster</a>.  It has no affilliation with the game or Frontier.
                    </p>
                    <div>
                        <a href="https://gitlab.com/joaopluis/billboard-generator" class="button is-primary">
                            <span class="fab fa-gitlab" style="margin-right: .6rem;"></span> GitLab
                        </a>
                        <a href="https://gitlab.com/joaopluis/billboard-generator" class="button is-primary">
                            <span class="fab fa-paypal" style="margin-right: .6rem;"></span> Donate via PayPal
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>
