$range-background: $grey-lighter;
$range-knob: $primary;

input[type=range] {
  -webkit-appearance: none;
  margin-top: 0.5rem;
  width: 100%;
  border: none !important;
  background: transparent;
  padding: 0;

}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  animate: 0.2s;
  background: $range-background;
  border-radius: 5px;
}

input[type=range]::-webkit-slider-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background: $range-knob;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -0.35rem;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  animate: 0.2s;
  background: $range-background;
  border-radius: 5px;
}

input[type=range]::-moz-range-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background: $range-knob;
  cursor: pointer;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 0.3rem;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: $range-background;
  border-radius: 10px;
}

input[type=range]::-ms-fill-upper {
  background: $range-background;
  border-radius: 10px;
}

input[type=range]::-ms-thumb {
  height: 1rem;
  width: 1rem;
  border-radius: 0.5rem;
  background: $range-knob;
  cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
  background: $range-background;
}